.flex{
    display: flex;
}
.wordRap{
    word-wrap: break-word;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.hundredwidth{
    width: 100%;
}
.start{
    justify-content: flex-start;
}
.end{
    justify-content: flex-end;
}
.spaced{
    justify-content: space-between;
}
.centerlizedContent{
    justify-content: center;
}
.centerlizedItems{
    align-items: center;
}
.padded-sm{
    padding: 1vmin;
}
.hidden{
    visibility: hidden;
}
.gapped{
    gap: 1vh;
}

.bordered{
    border: .1vmin rgb(0, 72, 255) solid;
    box-shadow: .5vmin .5vmin .5vmin .5vmin lightgray;
}

.eighty{
    width: 80vmin;
}

.oval{
    border-radius: 25%;
}
.halfwidth{
    width: 50%;
}
.tenthheight{
    height: 10%;
}
.rightShadow{
    border-right: .5vmin double rgb(206, 206, 206);
}
.leftShadow{
    border-left: .5vmin double rgb(206, 206, 206);
}
.third{
    width: 33%;
}
.hundred{
    height: 100%;
}
@supports (-webkit-text-stroke: 0.1vmin black) {
    h1 {
      -webkit-text-stroke: 0.1vmin black;
      -webkit-text-fill-color: white;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    h2{
        -webkit-text-stroke: 0.1vmin black;
        -webkit-text-fill-color: white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
  }