.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.start{
    justify-content: flex-start;
}
.end{
    justify-content: flex-end;
}
.spaced{
    justify-content: space-between;
}
.centerlizedContent{
    justify-content: center;
}
.centerlizedItems{
    align-items: center;
}
.padded-sm{
    padding: 1vmin;
}
.hidden{
    visibility: hidden;
}
.gapped{
    gap: 10px;
}
.btn{
    min-width: 10vw;
}
.bordered{
    border: 1px orangered solid;
    box-shadow: 5px 5px 10px 5px dodgerblue;
}
.greyBordered{
    box-shadow: 1px 1px 1px 1px grey;
}
.oval{
    border-radius: 25%;
}
.halfwidth{
    min-width: 50vw;
}
.tenthheight{
    min-height: 10vh;
}
.rightShadow{
    box-shadow: .2vmin 0px 0px 0px grey;
}